/* $font-family: 'Helvetica, sans-serif'; */

:root {
    --fixed-width: 800px;
    --transition: all 0.3s linear;
    --radius: 0.25rem;
    --clr-white: #fff;
    --up-colour: #16c784;
    --down-colour: #ea3943;
}

input::-webkit-input-placeholder {
    font-size: small;
    text-align: center;
}
.container {
    width: 80vw;
    max-width: var(--fixed-width);
}

.arrow-up {
    color: var(--up-colour);
}

.arrow-down {
    color: var(--down-colour);
}
.review {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    /* box-shadow: var(--light-shadow); */
    transition: var(--transition);
    text-align: center;
    font-family: Helvetica;
}

.message {
    font-family: Helvetica, sans-serif;
}
